@model web5.Models.University

<h1>English Name: @Model.EngName</h1>
<h1>Vietnames Name: @Model.VieName</h1>
<h1>Address: @Model.Address</h1>
<h1>Introduction: @Model.Intro</h1>
<h1>Image:
    <img src="@Model.Image" width="200" height="200" />
</h1>